{% extends "base.html" %}
{% load url from future %}
{% block title %}Rüya Tabirleri{% endblock title %}
{% block container %}
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-2 visible-lg">
            <h6>ADVERSITEMENTS</h6>
            {{ ads160x600 }}
        </div>
        <div class="col-lg-8 centerarea">
            <h1>Rüya Tabirleri</h1>

            <div class="visible-sm">
                {{ ads728x90 }}
            </div>
            <div class="visible-xs">{{ ads320x50 }}</div>

            <div class="dreams">
                <ul class="nav nav-pills nav-stacked list-group">
                    {% for dream in dreams %}
                        <li class="list-group-item"><a
                                href="{% url 'dreams_dream' dream.slug %}">{{ dream.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="pagination">
                <ul class="pagination">
                    {% if words.has_previous %}
                        <li><a href="{% url 'cms_searched_words' words.previous_page_number %}">Önceki</a></li>
                    {% endif %}
                    {% for i in words.paginator.page_range %}
                        {% if i == words.number %}
                            <li class="active"><a href="#">{{ i }}</a></li>
                        {% else %}
                            <li><a href="{% url 'cms_searched_words' i %}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if words.has_next %}
                        <li><a href="{% url 'cms_searched_words' words.next_page_number %}">Sonraki</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2 visible-lg">
            <h6>ADVERSITEMENTS</h6>
            {{ ads160x600 }}
        </div>
    </div>
    <hr>

{% endblock container %}