{% extends "base.html" %}
{% load url from future %}
{% block container %}
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-2">
            <h6>ADVERSITEMENTS</h6>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- okgen.com160x600 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:160px;height:600px"
                 data-ad-client="ca-pub-4061725184888939"
                 data-ad-slot="5565461009"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="col-lg-8 centerarea">
            <h5>Web Arama</h5>

            <div class="searchbar">
                <div class="ya-site-form ya-site-form_inited_no"
                     onclick="return {'bg': 'transparent', 'publicname': 'Ara okgen.com', 'target': '_self', 'language': '{{ lang }}', 'suggest': true, 'tld': 'com.tr', 'site_suggest': true, 'action': 'http://okgen.com/', 'webopt': true, 'fontsize': 16, 'arrow': false, 'fg': '#000000', 'searchid': '2068377', 'logo': 'rb', 'websearch': true, 'type': 2}">
                    <form action="http://yandex.com.tr/sitesearch" method="get" target="_self"><input type="hidden"
                                                                                                      name="searchid"
                                                                                                      value="2068377"/><input
                            type="hidden" name="l10n" value="tr"/><input type="hidden" name="reqenc" value=""/><input
                            type="text" name="text" value=""/><input type="submit" value="Bul"/></form>
                </div>
                <style type="text/css">.ya-page_js_yes .ya-site-form_inited_no {
                    display: none;
                }</style>
                <script type="text/javascript">(function (w, d, c) {
                    var s = d.createElement('script'), h = d.getElementsByTagName('script')[0], e = d.documentElement;
                    (' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1 && (e.className += ' ya-page_js_yes');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.charset = 'utf-8';
                    s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js';
                    h.parentNode.insertBefore(s, h);
                    (w[c] || (w[c] = [])).push(function () {
                        Ya.Site.Form.init()
                    })
                })(window, document, 'yandex_site_callbacks');</script>
            </div>

            <h6>ADVERSITEMENTS</h6>
            <div class="ads">
                <!-- reklam -->
                <!-- 80% BA - 20% OD -->
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- okgen728x90 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-4061725184888939"
                     data-ad-slot="2611994603"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <br/>

            <div class="tagcloud">
                {% for link in tagcloud %}
                    <a style="font-size:{{ link.size }}px;"
                       href="{% url 'cms_link_clicked' link.tag.id %}">{{ link.tag.text }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-2">
            <h6>ADVERSITEMENTS</h6>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- okgen.com160x600 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:160px;height:600px"
                 data-ad-client="ca-pub-4061725184888939"
                 data-ad-slot="5565461009"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>

    <hr>
    <div class="words">
        <marquee>En çok aratılanlar: {% for word in mostly_searched %}
            <a href="/?searchid=2068377&text={{ word.word }}&web=1">, {{ word.word }}</a>{% endfor %}</marquee>
    </div>
    <hr>

{% endblock container %}