{% extends "base.html" %}

{% block container %}
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-2">
            <h6>ADVERSITEMENTS</h6>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- okgen.com160x600 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:160px;height:600px"
                 data-ad-client="ca-pub-4061725184888939"
                 data-ad-slot="5565461009"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="col-lg-8 centerarea">
            <h5>Web Arama</h5>

            <div class="searchbar">
                <div class="ya-site-form ya-site-form_inited_no"
                     onclick="return {'bg': 'transparent', 'publicname': 'Ara okgen.com', 'target': '_self', 'language': '{{ lang }}', 'suggest': true, 'tld': 'com.tr', 'site_suggest': true, 'action': 'http://okgen.com/', 'webopt': true, 'fontsize': 16, 'arrow': false, 'fg': '#000000', 'searchid': '2068377', 'logo': 'rb', 'websearch': true, 'type': 2}">
                    <form action="http://yandex.com.tr/sitesearch" method="get" target="_self"><input type="hidden"
                                                                                                      name="searchid"
                                                                                                      value="2068377"/><input
                            type="hidden" name="l10n" value="tr"/><input type="hidden" name="reqenc" value=""/><input
                            type="text" name="text" value=""/><input type="submit" value="Bul"/></form>
                </div>
                <style type="text/css">.ya-page_js_yes .ya-site-form_inited_no {
                    display: none;
                }</style>
                <script type="text/javascript">(function (w, d, c) {
                    var s = d.createElement('script'), h = d.getElementsByTagName('script')[0], e = d.documentElement;
                    (' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1 && (e.className += ' ya-page_js_yes');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.charset = 'utf-8';
                    s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js';
                    h.parentNode.insertBefore(s, h);
                    (w[c] || (w[c] = [])).push(function () {
                        Ya.Site.Form.init()
                    })
                })(window, document, 'yandex_site_callbacks');</script>
            </div>
            <div class="ads">
                <!-- reklam -->
                <!-- 80% BA - 20% OD -->
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- okgen728x90 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-4061725184888939"
                     data-ad-slot="2611994603"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <br/>

            <div class="btn-group btn-group-justified buttonads">
                <a class="btn btn-info" href="http://www.filmistan.org">Film İzle</a>
                <a class="btn btn-danger" href="http://www.muzik-dinle.gen.tr">Müzik Dinle</a>
                <a class="btn btn-warning" href="http://www.tr-radyodinle.com">Radyo Dinle</a>
                <a class="btn btn-success" href="http://www.youtubemp3donusturucu.com">Youtube MP3 Dönüştürücü</a>
            </div>

            <div class="links">
                <ul class="nav nav-pills list-group">
                    <a href="#" class="list-group-item active">Spor</a>
                    <li class="list-group-item"><a href="http://www.sahadan.com">Sahadan</a></li>
                    <li class="list-group-item"><a href="http://www.ligtv.com.tr">Ligtv</a></li>
                    <li class="list-group-item"><a href="http://www.fanatik.com.tr">Fanatik</a></li>
                    <li class="list-group-item"><a href="http://www.sporx.com">Sporx</a></li>
                    <li class="list-group-item"><a href="http://skorer.milliyet.com.tr">Skorer</a></li>
                </ul>
                <ul class="nav nav-pills list-group">
                    <a href="#" class="list-group-item active">Alışveriş</a>
                    <li class="list-group-item"><a href="http://ad.zanox.com/ppc/?25568673C11593932T">GittiGidiyor</a></li>
                    <li class="list-group-item"><a href="http://sahibinden.com">Sahibinden</a></li>
                    <li class="list-group-item"><a href="http://ad.zanox.com/ppc/?25583908C1155130229T">Fırsat bu Fırsat</a></li>
                    <li class="list-group-item"><a href="http://ad.zanox.com/ppc/?25583896C81495443T">Webden Al</a></li>
                    <li class="list-group-item"><a href="http://ad.zanox.com/ppc/?25843600C444777190T">Türk Ticaret</a></li>
                </ul>
                <ul class="nav nav-pills list-group">
                    <a href="#" class="list-group-item active">Kadın</a>
                    <li class="list-group-item"><a href="http://ivillagetestivi.mynet.com/default.aspx?tabid=1">Aşk ve Kişilik Testleri</a></li>
                    <li class="list-group-item"><a href="http://www.kadinlarsitesi.com">Kadınlar Sitesi</a></li>
                    <li class="list-group-item"><a href="http://kadinvekadin.net">Kadın ve Kadın</a></li>
                    <li class="list-group-item"><a href="http://www.kadinlarkulubu.com">Kadınlar Kulübü</a></li>
                    <li class="list-group-item"><a href="http://kadin.milliyet.com.tr">Milliyet Kadın</a></li>
                </ul>
                <ul class="nav nav-pills list-group">
                    <a href="#" class="list-group-item active">Tatil ve Seyahat</a>
                    <li class="list-group-item"><a href="http://comparison.hotelr.net">Otel Karşılaştırma</a></li>
                    <li class="list-group-item"><a href="http://ad.zanox.com/ppc/?25568696C87516653T">En Ucuz Uçak Biletleri</a></li>
                    <li class="list-group-item"><a href="http://ad.zanox.com/ppc/?25843598C205611824T">Günün Tatili %40 indirimli</a></li>
                    <li class="list-group-item"><a href="http://www.tatilbudur.com">Tatil Budur</a></li>
                </ul>
                <ul class="nav nav-pills list-group">
                    <a href="#" class="list-group-item active">Oyunlar</a>
                    <li class="list-group-item"><a href="http://ad.zanox.com/ppc/?25782215C80451578T">Counter Strike Online</a></li>
                    <li class="list-group-item"><a href="http://oyun-kutusu.com">Oyun Kutusu</a></li>
                    <li class="list-group-item"><a href="http://www.kraloyun.com">Kral Oyun</a></li>
                    <li class="list-group-item"><a href="http://www.oyunskor.com">Oyun Skor</a></li>
                    <li class="list-group-item"><a href="http://www.oyunkolu.com">Oyun Kolu</a></li>
                </ul>
                <ul class="nav nav-pills list-group">
                    <a href="#" class="list-group-item active">Dosya Paylaşım</a>
                    <li class="list-group-item"><a href="https://copy.com?r=rVjLVB">Copy Sharing</a></li>
                    <li class="list-group-item"><a href="http://inndir.com">İnndir</a>
                    <li class="list-group-item"><a href="http://dosya.tc">DosyaTC</a>
                    <li class="list-group-item"><a href="http://www.gezginler.net">Gezginler</a>
                    <li class="list-group-item"><a href="http://www.dropbox.com">Dropbox</a>
                    </li>
                </ul>
                <ul class="nav nav-pills list-group">
                    <a href="#" class="list-group-item active">Devlet</a>
                    <li class="list-group-item"><a href="http://www.sgk.gov.tr">SGK</a></li>
                    <li class="list-group-item"><a href="https://www.turkiye.gov.tr">İçişleri Bakanlığı</a></li>
                    <li class="list-group-item"><a href="http://www.iett.gov.tr">İETT</a></li>
                    <li class="list-group-item"><a href="https://e-okul.meb.gov.tr">E-Okul</a></li>
                    <li class="list-group-item"><a href="http://sonuc.osym.gov.tr">ÖSYM</a></li>
                    <li class="list-group-item"><a href="http://www.saglik.gov.tr">Sağlık Bakanlığı</a></li>
                </ul>
                <ul class="nav nav-pills list-group">
                    <a href="#" class="list-group-item active">Ekonomi</a>
                    <li class="list-group-item"><a href="http://doviz.com">Döviz, Dolar ve Euro Kurları</a></li>
                    <li class="list-group-item"><a href="http://altin-fiyatlari.com.tr/">Anlık, Değişken Altın Fiyatları</a></li>
                    <li class="list-group-item"><a href="http://www.destekfx.com">Forex Yatırım ve Değerlendirme</a></li>
                    <li class="list-group-item"><a href="http://www.bigpara.com">BigPara</a></li>
                    <li class="list-group-item"><a href="http://www.paradergi.com.tr">Para Dergi</a></li>
                </ul>
                <ul class="nav nav-pills list-group">
                    <a href="#" class="list-group-item active">Bankalar</a>
                    <li class="list-group-item"><a href="http://www.isbank.com.tr">Türkiye İş Bankası</a></li>
                    <li class="list-group-item"><a href="http://www.garanti.com.tr">Garanti</a></li>
                    <li class="list-group-item"><a href="http://www.ziraat.com.tr">T.C. Ziraat Bankası A.Ş.</a></li>
                    <li class="list-group-item"><a href="http://www.teb.com.tr">Türkiye Ekonomi Bankası</a></li>
                    <li class="list-group-item"><a href="http://www.ingbank.com.tr">ING Bank</a></li>
                </ul>
                <ul class="nav nav-pills list-group">
                    <a href="#" class="list-group-item active">Kredi</a>
                    <li class="list-group-item"><a href="http://ad.zanox.com/ppc/?25623072C1991614067T">Bank Pozitif ile anında kredi</a></li>
                    <li class="list-group-item"><a href="http://www.yapikredi.com.tr/Ihtiyac-Kredisi‎‎">Yapıkredi Bireysel İhtiyaç Kredisi</a></li>
                    <li class="list-group-item"><a href="http://www.isteevim.com.tr/Faiz_Hesaplama‎">İş Bankası Ev Kredisi</a></li>
                    <li class="list-group-item"><a href="http://www.finansbank.com.tr/Evlilik-Kredisi‎‎‎‎">Finansbank Evlilik Kredisi</a></li>
                </ul>
                <ul class="nav nav-pills list-group">
                    <a href="#" class="list-group-item active">Sağlık</a>
                    <li class="list-group-item"><a href="http://www.istanbulagizdis.gov.tr">Ağız ve Diş Hastalıkları Hastanesi</a></li>
                    <li class="list-group-item"><a href="http://www.floryahayvanhastanesi.com">Florya Hayvan Hastanesi</a></li>
                    <li class="list-group-item"><a href="http://www.hurriyet.com.tr/saglik">Hürriyet Sağlık</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2">
            <h6>ADVERSITEMENTS</h6>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- okgen.com160x600 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:160px;height:600px"
                 data-ad-client="ca-pub-4061725184888939"
                 data-ad-slot="5565461009"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>

    <hr>
    <div class="words">
        <marquee>En çok aratılanlar: {% for word in mostly_searched %}<a href="/?searchid=2068377&text={{ word.word }}&web=1">{{ word.word }}</a>{% endfor %}</marquee>
    </div>
    <hr>

{% endblock container %}