{% extends "base.html" %}
{% load url from future %}
{% block title %}Bankalar > {{ bank.name }}{% endblock title %}
{% block container %}
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-2">
            <h6>ADVERSITEMENTS</h6>
            {{ ads160x600 }}
        </div>
        <div class="col-lg-8 centerarea">

            <ol class="breadcrumb">
                <li><a href="{% url 'banks_banks' %}">Bankalar</a></li>
                <li class="active">{{ bank.name }}</li>
            </ol>

            <h1>{{ bank.name }}</h1>

            {{ ads728x90 }}

            <div class="banks">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">{{ bank.name }} Bilgileri</div>

                    <!-- Table -->
                    <table class="table">
                        <tr>
                            <td style="width: 140px;">Banka Logosu</td>
                            <td><img src="{{ MEDIA_URL }}{{ bank.image }}"/></td>
                        </tr>
                        <tr>
                            <td>Banka</td>
                            <td>{{ bank.name }}</td>
                        </tr>
                        <tr>
                            <td>Çağrı Merkezi</td>
                            <td>{{ bank.call_center }}</td>
                        </tr>
                        <tr>
                            <td>Swift Kodu</td>
                            <td>{{ bank.swift_code }}</td>
                        </tr>
                        <tr>
                            <td>EFT Kodu</td>
                            <td>{{ bank.eft_code }}</td>
                        </tr>
                        <tr>
                            <td>Web Adresi</td>
                            <td><a target="_blank" href="{{ bank.web_url }}">{{ bank.web_url }}</a></td>
                        </tr>
                        <tr>
                            <td>Tarihçe</td>
                            <td>{{ bank.history }}</td>
                        </tr>
                        <tr>
                            <td>Genel Merkez Bilgileri</td>
                            <td>{{ bank.general_address }}</td>
                        </tr>
                        <tr>
                            <td>İlçe</td>
                            <td>{{ bank.town|capfirst }}</td>
                        </tr>
                        <tr>
                            <td>İl</td>
                            <td>{{ bank.city|capfirst }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <h6>ADVERSITEMENTS</h6>
            {{ ads160x600 }}
        </div>
    </div>
    <hr>

{% endblock container %}