{% extends "base.html" %}
{% load url from future %}
{% block container %}
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-2">
            <h6>ADVERSITEMENTS</h6>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- okgen.com160x600 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:160px;height:600px"
                 data-ad-client="ca-pub-4061725184888939"
                 data-ad-slot="5565461009"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="col-lg-8 centerarea">
            <h1>Bankalar</h1>

            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- okgen728x90 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-4061725184888939"
                 data-ad-slot="2611994603"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

            <div class="banks">
                {% for bank in banks %}
                    <div class="col-lg-4">
                        <div class="thumbnail">
                            <a href="{% url 'banks_bank' bank.slug %}">
                                <center><img src="{{ MEDIA_URL }}{{ bank.image }}" alt="{{ bank.name }}"></center>
                            </a>

                            <div class="caption">
                                <h6>{{ bank.name }}</h6>

                                <p>
                                    <a href="{% url 'banks_bank' bank.slug %}" class="btn btn-primary">Bilgiler</a>
                                    <!-- <a href="{% url 'banks_branches' bank.slug %}" class="btn btn-default">Şubeler</a>-->
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <h6>ADVERSITEMENTS</h6>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- okgen.com160x600 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:160px;height:600px"
                 data-ad-client="ca-pub-4061725184888939"
                 data-ad-slot="5565461009"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    <hr>

{% endblock container %}