{% extends "base.html" %}
{% load url from future %}
{% block title %}{{ bank.name }} Şubeleri{% endblock title %}
{% block container %}
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-2 visible-lg">
            <h6>ADVERSITEMENTS</h6>
            {{ ads160x600 }}
        </div>
        <div class="col-lg-8 centerarea">
            <h1>{{ bank.name }} Şubeleri</h1>

            <div class="visible-sm">
                {{ ads728x90 }}
            </div>

            <div class="links">
                {% for branch in branches %}
                        <a href="{% url 'banks_branch' branch.id %}"><li><b>{{ branch.city }}</b> <br/> {% if branch.name == branch.city %}Merkez{% else %}{{ branch.name }}{% endif %}</li></a>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2 visible-lg">
            <h6>ADVERSITEMENTS</h6>
            {{ ads160x600 }}
        </div>
    </div>
    <hr>

{% endblock container %}