body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.container .row li {
    background: #ffffff;
}

.ya-site-form__search-precise {
    display: none;
    visibility: hidden;
}

.ya-site-form table tr td {
    border: none;
    padding: 0;
    margin: 0;
}

.ya-site-form input {
    height: 26px;
    margin: auto;
}

.links ul {
    min-width: 236px;
    float: left;
}

.links li {
    list-style-type: none;
}

.links li:hover {
    background-color: #f2f2f2;
}

.links li {
    border-bottom: 1px solid #f2f2f2;
}

.links li {
    color: #101010;
    min-width: 150px;
    float: left;
    margin: 10px;
    padding: 10px;
    background-color: #999999;
}

.links a:hover {
    color: #ff0000;
}

.links li:first-child {
    border-bottom: 1px solid #f2f2f2;
}

.links li a:hover {
    text-decoration: none;
}

.links ul {
    margin-top: 5px;
}

.span-most-downloaded li {
    overflow-x: hidden;
    text-transform: lowercase;
}

.span-last-downloaded li {
    overflow-x: hidden;
    text-transform: lowercase;
}

.centerarea {
    overflow-x: hidden;
    max-width: 740px;
}

.searchbar {
    max-width: 720px;
}

.nav .label {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.list-group li {
    margin: 0;
    padding: 0;
}

.tagcloud a {
    background-color: #101010;
    color: #999999;
    padding: 4px;
    margin: 5px;
    line-height: 30px;
}

.tagcloud a:hover {
    color: #f8f8f8;
}

.banks div {
    padding: 10px;
}

.banks img {
    height: 30px;
    max-width: 120px;
}

.fblogin {
    margin-top: 10px;
    text-align: right;
}

#scrollDivBuyTr {
    width: 100%;
    height: 30px;
    min-height: 30px;
    line-height: 30px;
    overflow: hidden;
}

#scrollDivBuyTr ul li {
    height: 30px;
    background: url(../img/sound.png) no-repeat center left;
    padding-left: 20px;
    margin-left: 10px;
}

#scrollDivBuyTr ul li a {
    color: #f66e2d
}

#scrollDivBuyTr ul li a i {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    background: url(http://b.thanksearch.com/ftpup/images/me/n2/buy/buy_word.png?t=1.01) no-repeat;
    margin: 6px 3px 0 0;
}

#scrollDivBuyTr li {
    height: 30px;
    list-style: none;
}

#scrollDivBuyTr ul li a:hover {
    text-decoration: underline;
}

.links2 ul {
    -webkit-box-shadow: none;
}

.links2 ul li {
    white-space: nowrap;
    overflow: hidden;
}

.links2 ul li a {
    padding: 5px;
}

.links2 .active {
    border: none;
    margin-top: 18px;
}

.links2 .lonely{
    padding-bottom: 14px;
}

.banks .thumbnail h6{
    white-space: nowrap;
    overflow: hidden;
}

.box-header{
    margin-top:10px;
    height: 36px;
    white-space: nowrap;
    overflow: hidden;
}

.list-group-item{
    white-space: nowrap;
    overflow: hidden;
}

.breadcrumb{
    margin-top:0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.breadcrumb li{
    background: none !important;
}