{% load url from future %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}about:blank{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="QA1sYhznuk2uJKNQMDkI-TYScfuSR_WUZHWrw9WGB8Q"/>

    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/lhffdghomhagfkackmjajfjnpbfnhbcc">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/united.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css?v=41">

    <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script type='text/javascript' src='http://xslt.alexa.com/site_stats/js/s/c?url=okgen.com'></script>
    <script type="text/javascript">var _sf_startpt = (new Date()).getTime()</script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.okgen.com">#</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" id="weather">&nbsp;</a></li>
                <li class="active"><a href="#" id="currency_dolar">&nbsp;</a></li>
                <li class="active"><a href="#" id="currency_euro">&nbsp;</a></li>
                <li><a href="{% url 'cms_searched_words' 1 %}" target="_blank">En çok aratılanlar</a></li>
                <li><a href="https://docs.google.com/spreadsheet/embeddedform?formkey=dGtwRHdUVnN0UW8yVk5TZUtCeXBGQ2c6MA" target="_blank">Geliştirmemize yardımcı olmak ister misiniz?</a></li>
            </ul>

        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<div class="container">
    {% block container %}
        container
    {% endblock container %}
    <footer>
        <p>&copy; okgen 2013 </p>

        <div class="hidden">
            <script id="_wau18a">var _wau = _wau || [];
            _wau.push(["classic", "0ye1yn461a3n", "18a"]);
            (function () {
                var s = document.createElement("script");
                s.async = true;
                s.src = "http://widgets.amung.us/classic.js";
                document.getElementsByTagName("head")[0].appendChild(s);
            })();</script>
        </div>
    </footer>

</div>
<!-- /container-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script> window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.10.1.min.js"><\/script>') </script>

<script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/masonry.pkgd.min.js"></script>

<script src="{{ STATIC_URL }}js/vendor/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/main.js?v=41"></script>


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-43271649-1', {'siteSpeedSampleRate': 50});
    ga('send', 'pageview');

    // Listen for clicks from outbound links
    jQuery("a[href*='http://']:not([href*='" + window.location.hostname + "'])").click(function (e) {
        // Send a click event with the href as the label
        try {
            ga('send', 'event', 'Outbound Link A', 'click', jQuery(this).attr('href'));
        } catch (err) {
        }

        // Delay the page's loading for 100 milliseconds to allow Google time to send the click event
        setTimeout('document.location = "' + jQuery(this).attr('href') + '"', 100);

        // Prevent the page from loading
        e.preventDefault();
    });
</script>


<script>
    jQuery(document).ready(function () {
        if (jQuery.cookie('test_chrome_app_status_new') != '1') {

            var isOpera = !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
            // Opera 8.0+ (UA detection to detect Blink/v8-powered Opera)
            var isFirefox = typeof InstallTrigger !== 'undefined';   // Firefox 1.0+
            var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
            // At least Safari 3+: "[object HTMLElementConstructor]"
            var isChrome = !!window.chrome && !isOpera;              // Chrome 1+
            var isIE = /*@cc_on!@*/false || document.documentMode;   // At least IE6

            jQuery(document).on('click', function () {

                if (top.location != self.location) {
                    top.location = self.location.href
                }

                if (isChrome) { //chrome ise
                    chrome.webstore.install();
                } else if (isFirefox) {
                    try {
                        window.location.href = "https://addons.mozilla.org/firefox/downloads/file/226378/youtube_mp3_converter-1.0.4-fx.xpi?src=dp-btn-primary";
                    } catch (e) {
                    }
                }
                else if (jQuery("html").hasClass("lt-ie7")) //ie7den kucuk ise
                {
                    try {
                        document.setHomePage("http://gozep.com/?ref=ie");
                    } catch (e) {
                    }
                }

                var date = new Date();
                var minutes = 6000;
                date.setTime(date.getTime() + (minutes * 60 * 1000));
                jQuery.cookie('test_chrome_app_status_new', '1', { expires: date});
                jQuery(document).off('click');
            });
        }
    });
</script>


<script type="text/javascript">
    var _sf_async_config = {
        uid: 43759, domain: 'okgen.com', useCanonical: true };
    (function () {
        function loadChartbeat() {
            window._sf_endpt = (new Date()).getTime();
            var
                    e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
            document.body.appendChild(e);
        }

        ;
        var
                oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
                loadChartbeat : function () {
            oldonload();
            loadChartbeat();
        };
    })();
</script>

<!--Yandex.Metrika counter-->
<script type="text/javascript"> (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter22103296 = new Ya.Metrika({id: 22103296, webvisor: true, clickmap: true, trackLinks: true, accurateTrackBounce: true});
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks");</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/22103296" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex . Metrika counter-->


</body>
</html>
