{% extends "photologue/root.html" %}
{% load url from future %}

{% block title %}En son eklenen fotoğraflar{% endblock %}

{% block content %}

<h5>En son eklenen fotoğraflar</h5>

{% if latest %}
    {% for gallery in latest %}
    <div class="photo-gallery">
        <h5><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h5>
        {% for photo in gallery.sample %}
        <div class="gallery-photo">
            <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ photo.title }}"/></a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
{% else %}
    <p>Henüz eklenmiş bir galeri yok.</p>
{% endif %}

<p><a href="{% url 'pl-gallery-list' 1 %}">Tüm galerilere göz at.</a></p>

{% endblock %}
