{% extends "photologue/root.html" %}

{% load photologue_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

    <h5>{{ object.title }}</h5>
    <a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a>
    {% for gallery in object.public_galleries %}

        <div class="gallery-photo" style="text-align:center;">
            {% previous_in_gallery object gallery %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ object.image.url }}"><img src="{{ object.get_display_url }}"
                                                  class="{% block gallery-photo-class %}{% endblock %}"
                                                  alt="{{ object.title }}"/></a>

            {% if object.caption %}<p>{{ object.caption }}</p>{% endif %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% next_in_gallery object gallery %}
        </div>

    {% endfor %}
    {% if object.public_galleries %}

        <div>
            <h6>ADVERSITEMENTS</h6>

            <div class="ads">
                {{ ads728x90 }}
            </div>
        </div>
        <br/>
    {% endif %}

{% endblock %}
